.robot-eye-left {
  animation: robot-eye-left-scale 3s infinite 2s;
}

@keyframes robot-eye-left-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.robot-eye-right {
  animation: robot-eye-right-movement 6s infinite alternate 2s;
}

@keyframes robot-eye-right-movement {
  0% {
    transform: scale(1);
  }
  14.2% {
    transform: scale(0.5);
  }
  28.4% {
    transform: scale(0.5) translateX(100px);
  }
  42.6% {
    transform: scale(0.5) translateX(100px) translateY(-80px);
  }
  56.8% {
    transform: scale(0.5) translateX(-100px) translateY(-80px);
  }
  71% {
    transform: scale(0.5) translateX(-100px) translateY(80px);
  }
  85.2% {
    transform: scale(0.5) translateX(100px) translateY(80px);
  }
  100% {
    transform: scale(0.5) translateX(100px) translateY(-80px);
  }
}

.robot-ear-left {
  animation: robot-ear-left-opacity 3s infinite alternate 2s;
}

@keyframes robot-ear-left-opacity {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.robot-ear-right {
  animation: robot-ear-right-rotate 8s infinite 1s;
}

@keyframes robot-ear-right-rotate {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

.robot-nose {
  transition: all 3s 1s;
}

.robot-nose:hover {
  transform: rotate(20deg);
}

.robot-teeth {
  animation: robot-teeth-color 5s infinite alternate 2s;
}

@keyframes robot-teeth-color {
  0% {
    background-color: black;
  }
  12.5% {
    background-color: blue;
  }
  25% {
    background-color: white;
  }
  37.5% {
    background-color: red;
  }
  50% {
    background-color: green;
  }
  62.5% {
    background-color: lightblue;
  }
  75% {
    background-color: darkred;
  }
  87.5% {
    background-color: darkgreen;
  }
  100% {
    background-color: black;
  }
}

.robot-tooth {
  animation: robot-tooth-rotate 6s infinite 1s;
}

@keyframes robot-tooth-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.robot-hair-one {
  animation: robot-hair-one-move-scale 6s infinite alternate 4s;
}

@keyframes robot-hair-one-move-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.75) translateY(80px);
  }
}

.robot-hair-two {
  animation: robot-hair-two-rotate 8s infinite alternate 4s;
}

@keyframes robot-hair-two-rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.robot-hair-three {
  animation: robot-hair-three-move-scale 6s infinite alternate 4s;
}

@keyframes robot-hair-three-move-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.75) translateY(-80px);
  }
}
